docker/services/n8n/workflows/order-payment-confirmation.json
{
  "name": "order-payment-confirmation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-payment-confirmation",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        -48
      ],
      "id": "69bdd4e9-69b3-4b33-b637-41086497a3c1",
      "name": "Webhook",
      "webhookId": "90dd07ed-7b9a-4aab-b363-fe6da57de82b"
    },
    {
      "parameters": {
        "from": "TiendaDonLlantas@rbcode.xyz",
        "to": "={{ $json.email }}",
        "subject": "=Pago confirmado! Orden #{{ $json.orderId }}",
        "html": "=<div style=\"background:#f4f4f4;padding:2rem;font-family:Arial,sans-serif;\">\n  <div style=\"background:#ffffff;border-radius:8px;max-width:560px;margin:0 auto;overflow:hidden;border:1px solid #e5e5e5;\">\n\n    <div style=\"background:#0f172a;padding:24px 32px;\">\n      <span style=\"color:#ffffff;font-size:20px;font-weight:700;\">rbcode.xyz</span>\n    </div>\n\n    <div style=\"padding:32px;\">\n      <div style=\"background:#f0fdf4;border:1px solid #bbf7d0;border-radius:8px;padding:16px;margin-bottom:24px;text-align:center;\">\n        <p style=\"margin:0 0 4px;font-size:20px;font-weight:700;color:#15803d;\">¡Pago confirmado!</p>\n        <p style=\"margin:0;font-size:13px;color:#16a34a;\">Tu pedido ha sido procesado exitosamente.</p>\n      </div>\n\n      <p style=\"margin:0 0 24px;font-size:14px;color:#64748b;line-height:1.6;\">\n        Hola <strong>{{ $json.customerName }}</strong>, recibimos tu pago correctamente. Aquí tienes el resumen:\n      </p>\n\n      <div style=\"background:#f8fafc;border:1px solid #e2e8f0;border-radius:8px;padding:16px;margin-bottom:24px;\">\n        <table style=\"width:100%;font-size:13px;border-collapse:collapse;\">\n          <tr>\n            <td style=\"color:#94a3b8;padding:4px 0;\">Número de orden</td>\n            <td style=\"color:#0f172a;font-weight:600;text-align:right;font-family:monospace;\">{{ $json.orderId }}</td>\n          </tr>\n          <tr>\n            <td style=\"color:#94a3b8;padding:4px 0;\">ID de pago MP</td>\n            <td style=\"color:#0f172a;font-weight:600;text-align:right;font-family:monospace;\">{{ $json.mpPaymentId }}</td>\n          </tr>\n          <tr>\n            <td style=\"color:#94a3b8;padding:4px 0;\">Fecha de pago</td>\n            <td style=\"color:#0f172a;font-weight:600;text-align:right;\">{{ $json.paidAtFormatted }}</td>\n          </tr>\n          <tr>\n            <td style=\"color:#94a3b8;padding:4px 0;\">Estado</td>\n            <td style=\"text-align:right;\">\n              <span style=\"background:#f0fdf4;color:#15803d;font-size:12px;font-weight:600;padding:2px 8px;border-radius:4px;\">{{ $json.paymentStatus }}</span>\n            </td>\n          </tr>\n        </table>\n      </div>\n\n      <p style=\"margin:0 0 12px;font-size:14px;font-weight:600;color:#0f172a;\">Detalle de items</p>\n\n      <table style=\"width:100%;border-collapse:collapse;margin-bottom:8px;\">\n        <tr>\n          <th style=\"text-align:left;font-size:12px;color:#94a3b8;padding-bottom:8px;font-weight:500;\">Cant.</th>\n          <th style=\"text-align:left;font-size:12px;color:#94a3b8;padding-bottom:8px;font-weight:500;\">Precio unit.</th>\n          <th style=\"text-align:right;font-size:12px;color:#94a3b8;padding-bottom:8px;font-weight:500;\">Subtotal</th>\n        </tr>\n        {{ $json.itemsHtml }}\n      </table>\n\n      <div style=\"display:flex;justify-content:space-between;padding:16px 0;border-top:2px solid #0f172a;margin-top:8px;\">\n        <p style=\"margin:0;font-size:15px;font-weight:700;color:#0f172a;\">Total pagado</p>\n        <p style=\"margin:0;font-size:15px;font-weight:700;color:#15803d;\">{{ $json.currency }} {{ $json.total }}</p>\n      </div>\n\n      <p style=\"margin:24px 0 0;font-size:12px;color:#94a3b8;text-align:center;\">\n        Si tienes alguna consulta sobre tu pedido, contáctanos en soporte@rbcode.xyz\n      </p>\n    </div>\n\n    <div style=\"background:#f8fafc;padding:16px 32px;border-top:1px solid #e5e5e5;\">\n      <p style=\"margin:0;font-size:11px;color:#94a3b8;text-align:center;\">© 2025 rbcode.xyz · Todos los derechos reservados</p>\n    </div>\n\n  </div>\n</div>",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [
        80,
        -48
      ],
      "id": "27146a0c-1d1b-4f0b-a343-16b917cec3c3",
      "name": "Send a new email",
      "webhookId": "bfa7d341-e9bb-4efa-b218-787d46c32650",
      "credentials": {
        "resendApi": {
          "id": "YLwaydM1iziZw6XZ",
          "name": "Resend account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nconst date = new Date(body.paidAt);\nconst paidAtFormatted = date.toLocaleDateString('es-PE', {\n  day: '2-digit',\n  month: 'long',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nconst itemsHtml = body.items.map(item => `\n  <tr>\n    <td style=\"padding:8px 0;border-bottom:1px solid #f1f5f9;color:#0f172a;font-size:13px;\">x${item.quantity}</td>\n    <td style=\"padding:8px 0;border-bottom:1px solid #f1f5f9;color:#64748b;font-size:13px;\">${body.currency} ${Number(item.unitPrice).toFixed(2)}</td>\n    <td style=\"padding:8px 0;border-bottom:1px solid #f1f5f9;color:#0f172a;font-weight:600;font-size:13px;text-align:right;\">${body.currency} ${Number(item.subtotal).toFixed(2)}</td>\n  </tr>\n`).join('');\n\nconst total = Number(body.total);\nconst subtotal = (total / 1.18);\nconst igv = total - subtotal;\n\nreturn [{\n  json: {\n    orderId: body.orderId,\n    mpPaymentId: body.mpPaymentId,\n    paymentStatus: body.paymentStatus,\n    paidAtFormatted,\n    email: body.email,\n    customerName: body.customerName ?? 'Cliente',\n    subtotal: subtotal.toFixed(2),\n    igv: igv.toFixed(2),\n    total: total.toFixed(2),\n    currency: body.currency,\n    itemsHtml\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -48
      ],
      "id": "d800324e-4216-4b16-9b03-2450ca3dd508",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a new email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bea3d940-063f-4345-8a97-703b8f9f5e22",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4acdc73a6240efed03e86858e4c23a5655b38e3f8c0bcf1d3536b22b4c48a7bf"
  },
  "nodeGroups": [],
  "id": "WSMXS7ZavI1XHFMk",
  "tags": []
}